.mat-icon-button{
    padding: 2px;
    min-width: 0;
    width: 48px;
    height: 30px;
    flex-shrink: 1;
    line-height: 40px;
    border-radius: 259%;
}

.material-icons-outlined
{
    font-size: 16px;
}
.matTooltip
{
    widows:30px;
}
.mat-mini-fab
{
    height: 20px;
    width: 20px;
    margin: 1px;
   
}
.matbutton
{
    width:100px;
}
// .mat-menu-panel {
//     display: flex;
//     min-width: 105px;
//     max-width: 105px;
//     overflow: auto;
//     -webkit-overflow-scrolling: touch;
//     max-height: calc(100vh - 48px);
//     border-radius: 4px;
//     outline: 0;
//     min-height: 64px;
// }