
<div *ngIf="!isTrash" fxLayout="row" fxFlex="100">
        <div>
            <button mat-icon-button  [matMenuTriggerFor]="reminderMenu">
               <mat-icon fontSet="material-icons-outlined" matTooltip="Add Reminder" >add_alert</mat-icon>
                <mat-menu #reminderMenu="matMenu" yPosition="above"> <mat-label style="font-size: 15px;">Reminder :</mat-label>
                    <div>
                        <button mat-menu-item style="font-size: 14px;" (click)="LaterToday()">Later today        8.00 PM</button > 
                    </div>
                    <div>
                        <button mat-menu-item style="font-size: 14px;" (click)="Tomorrrow()">Tommorow   8.00 AM</button > 
                    </div>
                    <div>
                        <button mat-menu-item style="font-size: 14px;" (click)="NextWeek()">Next week  Mon,8.00 AM</button > 
                    </div>
                    <div>
                        <button mat-menu-item [matMenuTriggerFor]="datetime">Pick Date and Time</button>                        
                    </div>
                </mat-menu>

                <mat-menu #datetime="matMenu">
                    <input [(ngModel)]="reminderDate" placeholder="Click here to select date and time"
                    [owlDateTimeTrigger]="dtPicker1" [owlDateTime]="dtPicker1">
                    <owl-date-time #dtPicker1></owl-date-time>
                    <button mat-menu-item (click) = "AddReminder(reminderDate)">Save</button>
                </mat-menu>
            </button>
        </div>

        <div>
            <button mat-icon-button class="mat-icon-button" (click)=AddCollaborator()>
                <mat-icon fontSet="material-icons-outlined" matTooltip="Collaborator">group_add</mat-icon>
            </button>
        </div>
    
        <!--                 
        <div>
            <button mat-icon-button><mat-icon fontSet="material-icons-outlined" matTooltip="Change color">palette</mat-icon></button>
        </div> -->
        <div>
        <button mat-icon-button [matMenuTriggerFor]="aboveMenu" matTooltip="Change color" class="matbutton">
            <mat-icon fontSet="material-icons-outlined" >color_lens</mat-icon>
            <mat-menu #aboveMenu="matMenu" yPosition="above" >
                <div class="colorMenu" style="width: 100px;">
                    <button mat-mini-fab *ngFor="let color of colors" [style.backgroundColor]="color" (click)="ChangeColor(color)"></button>                               
                </div>
            </mat-menu>
        </button>  
        </div>
    
        <button mat-icon-button matTooltip="Add image"  (click)="file.click(file)" mat-icon-button>
            <mat-icon fontSet="material-icons-outlined">add_photo_alternate</mat-icon>  
            <input type="file" #file style="display:none;" (change)="AddImage(file.files)">
        </button>
        
        <div>
            <button mat-icon-button class="buttons">
                <mat-icon *ngIf = "noteInfo == undefined" fontSet = "material-icons-outlined" (click)="NoteArchive()" matTooltip ="Archive">archive</mat-icon>
                    <mat-icon *ngIf = "noteInfo != undefined && !noteInfo.isArchive  " fontSet = "material-icons-outlined" (click)="NoteArchive()" matTooltip ="Archive">archive</mat-icon>
                    <mat-icon *ngIf = "noteInfo != undefined && noteInfo.isArchive "fontSet = "material-icons-outlined" (click)="NoteArchive()" matTooltip ="UnArchive">unarchive</mat-icon>
            </button>
        </div>
        
        <div>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="buttons">    
                <mat-icon fontSet = "material-icons-outlined" matTooltip="More">more_vert</mat-icon>
                <mat-menu #menu = "matMenu">
                   
                    <div *ngIf="!labelsMenu">
                        <button mat-menu-item (click)="TrashNote()">Delete Note</button > 
                        <button mat-menu-item (click)="GetLabel()">Add Labels</button > 
                        <button mat-menu-item (click)="MakeACopy()">Make a copy</button >  
                        <button mat-menu-item (click)="ShowCheckboxes()">Show Checkboxes</button > 
                        <button mat-menu-item (click)="CopyToGoogleDocs">Copy to GoogleDocs</button >      
                    </div> 
                    <div *ngIf="labelsMenu">
                        <div *ngFor="let label of labels">
                            <mat-checkbox (click)="AddLabels(label)">
                                {{label.labelName}}
                            </mat-checkbox >
                            </div>
                    </div>                      
                </mat-menu>
            </button>
          
        </div>
        
</div>
<div *ngIf="isTrash" fxLayout="row" fxFlex="100">
    <div>
        <button mat-icon-button  (click)="DeleteNote()">
            <mat-icon fontSet="material-icons-outlined" matTooltip="Delete forever">delete_forever</mat-icon>
        </button>
    </div>
    <div>
        <button mat-icon-button (click)="RestoreNote()">
            <mat-icon fontSet="material-icons-outlined" matTooltip="Restore">delete</mat-icon>
        </button>
    </div>
</div>




