.mat-icon-button{
    padding: 2px;
    min-width: 0;
    width: 48px;
    height: 30px;
    flex-shrink: 1;
    line-height: 40px;
    border-radius: 259%;
}

.material-icons-outlined
{
    font-size: 16px;
}