
// .example-container {
//   display: flex;
//   flex-direction: column;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
// }
// .example-is-mobile .example-toolbar {
//   position: fixed;
//   /* Make sure the toolbar will stay on top of the content as it scrolls past. */
//   z-index: 2;
// }

// h1.example-app-name {
//   margin-left: 8px;
// }

// .example-sidenav-container {
//   /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
//      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
//   flex: 1;
// }

// .example-is-mobile .example-sidenav-container {
//   /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
//      `<body>` to be our scrolling element for mobile layouts. */
//   flex: 1 0 auto;
// }
// .example-toolbar
// {
//   background-color: transparent;
// }
// //   .app-bar{
// //     width:100%
// //   }
//   .search-bar{
//     // padding-top: 30px;
//     // width: 00px;
//     border-radius: 30px;
//     background: transparent;
//     border:none;
//     margin-bottom: 10px;
    
//   }
.bulb{
    padding-left: 10px;
}
// .mat-icon-button
// {
//   margin-top: 5px
// }
// .app-name{
//     padding-left: 10px;
//     font-family: sans-serif;
//     margin-top: 10px
// }
.toolbar-buttons
{
  margin-top:7px;
  margin-left: 20px;
}

// #over:hover{
//     background-color: rgb(233, 230, 225);
//     border-radius: 0 25px 25px 0;   
// }


// #over:focus{
//     background-color: rgb(241, 221, 155);
//     border-radius: 0 25px 25px 0; 
     
// }

// #iconPadding{
//     padding: 0px 20px 0px 10px;
// }

// .profilePicture
// {
//     border-radius: 20px; 
//     width: 32px;
//     height: 32px;
//     margin-top: -18px;
//     margin-left: 10px;
// }
// .newlabels
// {
//   padding-left: 7px;
//   font-size: 18px;
//   margin-left: 9px;
// }

// .example-toolbar
// {
//   background-color: transparent;
// }
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
.container{    
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }     

.app-name{
    padding-left: 10px;
    font-family: sans-serif;
}

.searchInput{
    width: 90%;
    margin-bottom: 30px;
    margin-top: 30px;
}


#over:hover{
    background-color: rgb(233, 230, 225);
    border-radius: 0 25px 25px 0;   
   
}


#over:focus{
    background-color: rgb(241, 221, 155);
    border-radius: 0 25px 25px 0; 
     
}

#iconPadding{
    padding: 0px 20px 0px 10px;
}
.mat-menu-content
{
  padding-top: 53px;
  padding-bottom: 106px;
}
