.toolbar
{
  background-color:skyblue;
  display:flex;
  width: 100%;
  border-bottom-width: initial;
  text-decoration: silver;
  border-bottom: black;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}
.toolbar-buttons
{
  margin-top:7px;
  margin-left: 20px;
}
.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
 
.searchInput{
    width: 90%;
    margin-bottom: 30px;
    margin-top: 30px;
}

mat-grid-tile {
  background:pink;
  margin-left:50px;
  margin-top: initial;
  border-radius: 1.5;
}

.profile{
  border-radius: 20px;
   width: 32px;
   height: 32px;
   //padding-top: 20px;
   //margin-top: -18px;
   margin-left: 10px;
}
.profilePic{
  border-radius: 67px; 
   height: 90px; 
   width: 70px;
   margin-bottom: 10px;
   border-bottom:2px;
}
.table {
  width: 100%;
  border-collapse: collapse; 
  border-bottom: black;
}
.UserColumnData
{
  font-Size:16px;
  background-color: #808ae6;
  text-decoration: underline;
  text-shadow: black; 
 }
 .UserData
{
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  font-Size:16px;
  background-color:skyblue;
  text-decoration: underline;
  text-shadow: black; 
 }
 .mat-grid-list
 {
   padding-bottom: 100px;
  
 }
 .mat-form-field {
  font-size: 14px;
  width: 100%;
}
.buttons
{
  visibility: round($number: 1.5);
}
.mat-grid-tile
{
  margin-top: 200px;
  height: 100px;
  width: 100px;
}
.mat-table
{
  border-bottom: black;
}
.mat-column-firstName{
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
  } 

.mat-column-lastName{
    border-right: 1px solid grey;
    align-self: stretch;
    text-align: center;
  
} 
.mat-column-userName{
      border-right: 1px solid grey;
      align-self: stretch;
      text-align: center;
} 
.mat-column-mobile{
 
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;

  } 
.mat-column-email{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    align-self: stretch;
    text-align: center;
 } 
 .mat-column-serviceType{
  border-right: 1px solid grey;
  align-self: stretch;
  text-align: center;
  } 