 <mat-card display="flex" style="width: 350px;" fxFlex="600px" fxLayout="row" [style.background-color]='data.color'>
        <div>
            <div>
                <img src= {{data.image}}  fxFlex="100" fxLayout="row" >
                <div *ngIf="data.image != null "fxLayout="row" fxLayoutAlign="space-around end" >
                    <button mat-icon-button (click)="RemoveImage(data)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
                <div>
                    <button mat-icon-button  (click)="isPin = !isPin">
                        <img src="/assets/images/pin.svg" matTooltip="Pin Note" *ngIf="!isPin">
                        <img src="/assets/images/Unpin.png" matTooltip="Unpin Note" *ngIf="isPin">
                    </button>
                </div>
             </div>
                <div>
                    <div fxFlex="500px" style="padding-bottom: 30px;">
                        <input matInput type="text" [(ngModel)]="data.title" placeholder="title" style="font-size: 14px;"> 
                    </div> 
               </div> 

                <div style="padding-bottom: 30px;">
                    <input matInput type="text" [(ngModel)]="data.description" placeholder="description" style="font-size: 14px;">
                </div> 
               
                <!-- <span *ngIf="data.reminder!=null" >
                    <mat-chip style = " width: 100%;">
                        {{ note['reminder']  | date:'short'}}                       
                        <button mat-icon-button (click)="DeleteReminder(note)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </mat-chip>
                </span>     -->
                <div *ngIf="data.reminder!=null">
                    <mat-chip style = " width: 100%;">
                     <input  [(ngModel)]="data.reminder" style="font-size: 14px;">
                     <button mat-icon-button (click)="DeleteReminder(note)">
                        <mat-icon>clear</mat-icon>
                    </button>
                    </mat-chip>
                </div> 

                <div fxLayout="row">
                    <div fxFlex="80%">
                        <app-icons (colorEvent)="receiveColor($event)" (reminderEvent)="receiveReminder($event)" (imageEvent)="receiveImage($event)"></app-icons>
                    </div>
                    <div style="padding: 15px 0 0 75px;">
                        <button mat-icon-button (click)=" EditNote()">
                            Close
                        </button>
                    </div>
                </div>       
        </div>
</mat-card>
