 <mat-card display="flex" style="width: 350px;" fxFlex="600px" fxLayout="row" [style.background-color]='data.color'>
 
    <!-- [ngStyle]="{'backgroundColor' : data.color}" -->
           <div>
                <div>
                    <div fxLayout="row">
                        <img src="data.image">
                     </div>
                    <div fxFlex="500px">
                        <input matInput type="text" [(ngModel)]="data.title" style="font-size: 14px;"> 
                    </div> 
                    <div>
                        <button mat-icon-button  (click)="isPin = !isPin">
                            <img src="/assets/images/pin.svg" matTooltip="Pin Note" *ngIf="!isPin">
                            <img src="/assets/images/pin2.png" matTooltip="Unpin Note" *ngIf="isPin">
                        </button>
                    </div>                    
                </div> 

                <div>
                    <input matInput type="text" [(ngModel)]="data.description"  style="font-size: 14px;">
                </div> 
               
                <div>
                    <input matInput type="text" [(ngModel)]="data.reminder" style="font-size: 14px;">
                </div> 

                <div fxLayout="row">
                    <div fxFlex="80%">
                        <app-icons (colorEvent)="receiveColor($event)" (reminderEvent)="receiveReminder($event)" (imageEvent)="receiveImage($event)"></app-icons>
                    </div>
                    <div style="padding: 15px 0 0 75px;">
                        <button mat-icon-button (click)=" EditNote()">
                            Close
                        </button>
                    </div>
                </div>       
            </div>
</mat-card>
