<div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <mat-card class="display-matcard">
                 <form [formGroup]="forgetPasswordForm">
                         <mat-card-title>Google</mat-card-title>
        
                         <mat-card-subtitle>Account Recovery</mat-card-subtitle> 
                         
                        <div>
                                 <mat-form-field  appearance="outline">
                                         <mat-label>Email</mat-label> 
                                         <input matInput placeholder="Enter Email Here" formControlName ="email"/>
                                 </mat-form-field>
                        </div>
 
                        <div  fxLayout="row" >
                                <div fxLayoutAlign="end center" fxFlex= 100 >
                                        <button  [style.fontSize.px]="12" mat-button class= "button" (click)="forgetPassword()" >Next</button>
                                </div>
                        </div> 
                 </form>
         </mat-card>
 </div>

