<div mat-card fxLayoutAlign="center">
        <mat-card>
                 <form [formGroup]="forgetPasswordForm">
                         <mat-card-title>Google</mat-card-title>
                       
                         <mat-card-subtitle>Account Recovery</mat-card-subtitle> 
                         
                                 <div>
                                 <mat-form-field  appearance="outline">
                                         <mat-label>Email</mat-label> 
                                         <input matInput placeholder="Enter Email Here" formControlName ="email"/>
                                 </mat-form-field>
                                 </div>
 
                                 <div  fxLayout="row" fxLayoutAlign="space-between center">
                                         <!-- <div fxLayoutAlign="start center" fxFlex= 100 fxFlex.xs = 50>
                                                 <span [style.fontSize.px]="12" routerLink="/resetpassword" routerLinkActive="router-link-active" class="color">Reset Password</span>
                                         </div> -->
                                         <div fxLayoutAlign="end center" fxFlex= 100 fxFlex.xs = 50>
                                                 <button  [style.fontSize.px]="12" mat-button class= "button" (click)="forgetPassword()" >Next</button>
                                         </div>
                                 </div> 
                 </form>
         </mat-card>
        
 </div>

