// .make-note{background-color: #fff;
//     color: #202124;
//     direction: ltr;
//     font-family: 'Roboto',arial,sans-serif;
//     font-size: 15px;
//     margin: 0;
//     min-width: 360px;
//     overflow-x: hidden;
//     overflow-y: auto;
//     padding: 0;
// }
.mat-icon-button
{
    font-size: 14px;
}
.make-note
{
    color:#202124;
}