<div fxLayoutAlign="center center" display="flex">
    <mat-card fxFlex="520px" class="add-note" fxLayout="row">
        <div *ngIf="!isOpen" (click)="isOpen= !isOpen" fxFlex="30">
                <div fxFlex="420px">
                    <p style="font-size: 14px;">Take a note...</p>            
                </div> 
            
            <div style="align-items: center;" display="flex" fxLayout="row">
                <!-- <button mat-icon-button><mat-icon>check_box_outline</mat-icon></button>
                <button mat-icon-button><mat-icon>brush</mat-icon></button>
                <button mat-icon-button><mat-icon>image</mat-icon></button> -->
                
                <mat-icon aria-hidden="false" aria-label="Example home icon">check_box</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon">brush</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example home icon">image</mat-icon>
                <!-- <button mat-icon-button><mat-icon fontSet="material-icons-outlined">check_box</mat-icon></button> -->
                
            </div>
        </div>
        
        <div *ngIf="isOpen" (click)="isOpen= !isOpen">
            <div fxFlex="800px">
                <p style="font-size: 14px;">make a note...</p>            
            </div> 
            <div>
            </div>
            <!-- <app-icon></app-icon> -->
        </div>
    </mat-card>
</div>





