<div fxLayout="row wrap" style="margin: 10% 0 0 10%">    
   <mat-card *ngFor="let note of getChildMessage" style="margin: 20px 20px 20px 20px;">
         <div fxLayout="column" >
            <div  fxLayout="row" style="padding-bottom: 10px;"fxFlex="100" >
                    <div fxFlex="85" aria-multiline="true">
                        {{note['title']}}
                    </div >  
                    
                    <div *ngIf="!note['isPin']"fxFlex="5" >
                        <button mat-icon-button>
                            <img src="/assets/images/pin.svg" >
                        </button>
                    </div>
                    <div *ngIf="note['isPin']" fxFlex="5">
                        <button mat-icon-button >
                            <img src="/assets/images/pin2.png" >
                        </button>
                    </div>    
            </div>

            <div  fxFlex="100" aria-multiline="true">
               {{note['description']}}
            </div>

            <div  fxFlex="100"style="padding-bottom: 10px;"  >
               <app-icons></app-icons>
            </div>
         </div>       
           
       </mat-card>
   </div>    