.example-chip-list {
    width: 100%;
  }
// .mat-chip
// {
 
//  border-radius: 15px;
//  border-style: ridge;
// }
.Profilepicture
{
    border-radius: 15%;
    width: 30px;
    height: 30px;
}
.matcard
{
    //width:350px;
    display: flex;
    flex-direction: row;
    flex-wrap:row wrap;
    align-items: flex-start;
    float: left;
    justify-content: flex-start;
    border-radius: 15px;
   // max-width: 500px;
}
.GridView
{
    width:650px;
    display:fxFlex;
    flex-direction: column;
    //flex-wrap:row wrap;
    float: left;
    justify-content: flex-start;
    border-radius: 15px; 
}


