// .mat-card{
//     width:367px;
//     margin-top: 10px;
   
// }
.mat-chip
{
 //font-size: 12px;
 border-radius: 15px;
 border-style: ridge;
}
.Profilepicture
{
    border-radius: 15%;
    width: 30px;
    height: 30px;
}
