<div fxLayout="row wrap" style="margin: 10% 0 0 10%">    
   <mat-card *ngFor="let note of getChildMessage" style="margin: 20px 20px 20px 20px;" [ngStyle] ="{'backgroundColor' : note.color}">
         <div fxLayout="column">

            <div fxLayout="row">
                <img src="{{note.image}}">
             </div>
            <div fxLayout="row" style="padding-bottom: 10px;"fxFlex="100" (click)="openDialog(note)" >
                    <div fxFlex="85" aria-multiline="true" >
                        {{note['title']}}
                    </div>  
                    
                    <div *ngIf="!note['isPin']"fxFlex="5" >
                        <button mat-icon-button>
                            <img src="/assets/images/pin.svg" >
                        </button>
                    </div>
                    <div *ngIf="note['isPin']" fxFlex="5">
                        <button mat-icon-button >
                            <img src="/assets/images/Unpin.png" >
                        </button>
                    </div>    
            </div>

            <div  fxFlex="100" aria-multiline="true" (click)="openDialog(note)">
               {{note['description']}}
            </div>

           
            <div fxFlex="100" (click)="openDialog(note)">
                <mat-chip style:width:23px>
                {{ note['reminder']  | date:'short'}}
                </mat-chip>
             </div>
            <div  fxFlex="100"style="padding-bottom: 10px;"  >
               <app-icons [noteInfo]='note' [isTrash]='note.isTrash' (colorEvent)="receiveColor($event)" (reminderEvent)="receiveReminder($event)"></app-icons>
            </div>
        </div>       
    </mat-card> 
</div>    