.matcarddisplay{
    width:50%;
    height:auto
    
}
.display-matcard
{
    width:50%;
    
}
.matcarddisplay
{
    margin: 10px;

}
.button {
    background-color: rgb(55, 135, 255); /* Green */
    border: none;
    color: white;
    padding: 2px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }
  .subContainer{
    height: 300px;
    width: 300px;
    padding-top: 20px;
    padding-right: 00px;
    padding-left: 00px;
    margin-left: 100px;
    padding-bottom: 12px;
    // background-color: wheat;
}
.subSubContainer
{
    margin-left: 10px;
}