<div>
        <div fxLayout="row" fxLayoutAlign="center center" > 
                <mat-card>
                <div>Google</div>
                <div>Sign in </div>
                <div>Use your  Google Account</div>
                <div>
                <mat-form-field appearance="outline">
                        <mat-label>Email or phone </mat-label>
                        <input matInput placeholder="Email or Phone Here">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                </mat-form-field>
                </div>
                </mat-card>
        </div>
</div>
