.matcarddisplay{
    width:50%;
    height:auto
    
}
.display-matcard
{
    width:50%;
    
}
.matcarddisplay
{
    margin: 10px;

}
.button {
    background-color: rgb(15, 136, 173); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }