
<div  fxLayoutAlign="center center">       
        <mat-card  >
          
            <div>Fundoo</div>
            <div>Create your  Google Account</div>
            <div fxLayoutGap="10px">
                    <mat-form-field appearance="outline">
                            <mat-label>First name</mat-label>
                            <input matInput placeholder="Enter First name Here">
                            
                           
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                            <mat-label>Last name</mat-label>
                            <input matInput placeholder="Enter Last name Here">
                            
                           
                    </mat-form-field>
    
            </div>
            <div>
                    <mat-form-field appearance="outline">
                            <mat-label>User name</mat-label>
                            <input matInput placeholder="Enter User name Here">
                           
                            
                    </mat-form-field>
            </div>
            <div fxLayoutGap="10px">
                    <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput placeholder="Enter Password Here">
                            
                            
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                            <mat-label>Confirm</mat-label>
                            <input matInput placeholder="Confirm Password" >
                            
                            
                    </mat-form-field>
           </div>
                   
            <button (click)="register()"></button>
                
        </mat-card>
</div>
