.button {
    background-color: #149fdb; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 16px;
    margin-top: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-left: 16px;

  }