<div fxLayout="center center" >
    <div fxLayout="start center">
        <label>Edit Labels</label>
    </div>
    <div fxLayout="row">
        <button mat-icon-button > 
            <mat-icon fontSet="material-icons-outlined" matTooltip="Cancel" >clear</mat-icon>
        </button>
         <input matInput type="text"  placeholder="Create new label" [(ngModel)]="label" style="font-size: 18px;margin-top:20px; border-bottom: 2px inset;"> 
         <button mat-icon-button > 
            <mat-icon fontSet="material-icons-outlined" matTooltip="Create label" (click)="CreateLabel(label)" >check</mat-icon>
        </button>
    </div>
    <div *ngFor ="let label of labelArray" fxLayout = "row" fxLayoutAlign ="start center" style="width: 100%; height:40px ;border-bottom: 2px inset;">
       <button  (click)="DeleteLabel(label)" mat-icon-button matTooltip="Delete label" > <mat-icon>delete</mat-icon></button>
        <input matInput  [(ngModel)]="label.labelName" style="padding-left: 10px; " fxFlex= "70">
        <button mat-icon-button fxLayout = "row" fxLayoutAlign =" end center">
            <mat-icon fontSet="material-icons-outlined" matTooltip="Edit label" (click)="EditLabel(label)" >edit</mat-icon>
        </button>
    </div>
    <div fxLayout ="row" fxLayoutAlign="end center" >
        <button mat-button mat-dialog-close style=" margin-right: 50px; padding-left: 10px;">Done</button>
    </div>
</div>

