<div fxLayoutAlign="center center" fxLayout="row" fxFlex="100">
    <mat-card class="display-matcard">
        <div class="subContainer">
            <form [formGroup]="resetPasswordForm">
                <mat-card-title>Google</mat-card-title>
                <mat-card-subtitle>Account Recovery</mat-card-subtitle>
                <div>
                    <mat-form-field  appearance="outline">
                            <mat-label>Password</mat-label> 
                            <input matInput placeholder="Enter Password Here" formControlName ="password" [type]="hide ? 'password' : 'text' " />
                            <mat-error *ngIf="resetPasswordForm.controls.password.hasError('required')">
                                Please enter password atlaest 6 to 10 characters
                            </mat-error>
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                   
                </div>
                <div  fxLayout="row">
                   <button  [style.fontSize.px]="12" mat-button class= "button" (click)="resetPassword()" >Reset</button>
                </div> 
            </form>
        </div>
    </mat-card>
</div>