<div fxLayoutAlign="center center" fxLayout="row" fxFlex="100">
    <mat-card class="display-matcard">
        <form [formGroup]="resetPasswordForm">
            <mat-card-title>Google</mat-card-title>
            <mat-card-subtitle>Account Recovery</mat-card-subtitle>
            <div>
                <mat-form-field  appearance="outline">
                        <mat-label>Password</mat-label> 
                        <input matInput placeholder="Enter Password Here" formControlName ="password" [type]="hide ? 'password' : 'text' "/>
                </mat-form-field>
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </div>
            <div  fxLayout="row" fxLayoutAlign="space-between center">
                        
                    <div fxLayoutAlign="end center" fxFlex= 100>
                        <button  [style.fontSize.px]="12" mat-button class= "button" (click)="resetPassword()" >Reset</button>
                    </div>
            </div> 
            
        </form>
    </mat-card>
</div>