.display-matcard
{
    width:500px;
    height: 500px;
    
}
.mat-card-title
{
    text-align: center;
    
}
.mat-card-subtitle
{
    text-align:center;
}
.subContainer{
    height: 300px;
    width: 300px;
    padding-top: 10px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 100px;
    
}
.mat-button
{
    background-color: #149fdb; 
    padding: 2px 35px;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 30px;
    height: 40px;
    width:160px;
    margin-top: 25px;
    margin-left:200px;
}
.mat-form-field
{
    width:300px;
}